@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
     margin: 0; 
     z-index: -100;
}
hr{
    height: 4px;
    width: 595px;
    left: 0px;
    top: 0px;
    background: #101214;
    margin-left: 20em;
}
.wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 595px;   
    margin-left:21em;
}
.title{
   position:absolute;
   left: 48px;
   right: 58.82%;
   top: 48px;
   color: #101214;
   line-height: 28px;
   font-family: Arial;
   margin-left: 19em;
   position: sticky;
   z-index: 100;
}
.title .name{
    font-size: 24px;
}

.title:hover{
  cursor: pointer;
}
.title .role{
    font-size: 16px;
    font-family: Inter;
}
.avatar{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 407px;
    top: 36px;
    filter: drop-shadow(0px 2px 4px rgba(16, 18, 20, 0.08));
    position:sticky;
    margin-left: 23em;
    z-index: 10;
}
img{
    height: 72px;
    width: 72px;
    left: 407px;
    top: 36px;
    border-radius: 50%;
}
.xp{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 630px;
    right: 35.63%;
    line-height: 18px;
    font-family: Arial;
    width: 335px;
    left: 48px;
    top: 150px;    
}
.xp-title{

    font-size:11px;
    text-transform: uppercase;
    color: #73808D;
}
.xp-role{
  font-weight: bold;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 2px;
  font-family: inter;

}
.xp-name{
    font-family: inter;
    font-size: 9px;
    font-weight: 500;
}
.xp-duration{
    font-size: 9px;
    letter-spacing: 2px;
    color: #73808D;   
}
.xp-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 24px;
}

.info{
    position: absolute;
    height: 558px;
    width: 140px;
    left: 407px;
    top: 140px;
    color: #73808D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
}

.info h3{
    font-family: inter;
    font-style: normal;
    margin-top: 2em;
}
